---
---

@import "bootstrap";

body {
  height: 100%;
  min-height: 100%;
  background: #131417;
}

h1, h2, h3, h4, h5, h6, p, li, span {
  color: white;
}

.container {
  background: red;
}

.content {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 60%;
  height: 60%;
  background: #1c1e22;
}

.left-col {
  background: rgb(28,30,34);
  background: -moz-linear-gradient(45deg, rgba(28,30,34,1) 0%, rgba(0,198,255,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(28,30,34,1) 0%,rgba(0,198,255,1) 100%);
  background: linear-gradient(45deg, rgba(28,30,34,1) 0%,rgba(0,198,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1e22', endColorstr='#00c6ff',GradientType=1 );

  height: 100%;
  position: relative;
}

.right-col {
  height: 100%;
  position: relative;
}

.title-container {
  height: 25em;
  width: 20em;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background: green;
  text-align: center;

  img {
    width: 15em;
    height: 15em;
    border-radius: 9999em;
  }
}

.content-container {

}
