<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <nav class="navbar navbar-default visible-xs-block visible-sm-block" style="z-index: 1000;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% include sidebar.html %}
            <li style="height: 40px;">
              <ul class="social-media-list" style="display: block;">
                {% if site.github_username %}
                <li>{% include icons/icon-github.html username=site.github_username %}</li>
                {% endif %}

                {% if site.twitter_username %}
                <li>{% include icons/icon-twitter.html username=site.twitter_username %}</li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
